/* Styles for Product Table */
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1f1f1f;
    color: #e0e0e0;
}

.product-table th,
.product-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
}

.product-table th {
    background-color: #2c2c2c;
    color: #ffbb00;
}

.product-table a {
    color: #d6d6d6;
    /* Bright orange to stand out */
    text-decoration: none;
    /* Removes the underline */
    font-weight: bold;
    /* Makes the text easier to see */
}

.product-table a:hover {
    text-decoration: underline;
    color: #ffbb00;
}